@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat&display=swap');

/* general style */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: calistoga;
    font-size: 400;
    color: black;
}

/* navigation links */

#nav-area{
    font-size: 100%;
    letter-spacing: 5%;
}

#nav-area li{
    margin-right: 10%;
    float: right;
    list-style-type: none;
    display: flex;
    margin-top: 1%;

}

#nav-area a{
    text-decoration: none;
    color: rgb(53, 79, 82);
}

#nav-area a:hover{color:rgb(132, 169, 140)}

/**main image and website name*/

#main-image{
    height: 500px;
    width: 100%;
    background: url("../images/main-image-4946407.jpg") no-repeat center center;
}




